﻿@page
@model QuizWebsite.Pages.homeloginModel
@{
    ViewData["Title"] = "Home pagina";
}
    <div class="jumbotron text-center">
        <h3>Welkom @Model.account.gebruikersnaam op de website!</h3>
    </div>
