﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>web</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="~/assets/css/styles.min.css">
</head>

<body style="height: 100vh;width: 100%;background: url(&quot;assets/img/papers.co-no02-macbook-bokeh-coding-apple-29-wallpaper.jpg&quot;), #323232;background-size: cover;background-position: center;background-repeat: no-repeat;">
    <div class="dh-highlight-text" style="width: 100%;">
        <h1><img src="assets/img/Naamloos-2.png"></h1>
        <div class="container"><a class="btn btn-primary" role="button" style="background: rgb(249,65,68);border-width: 2px;border-color: rgb(255,119,119);border-radius: 15px;font-size: 20px;line-height: 29px;" href="#WatIsWapple">Read More</a></div>
    </div>
    <section id="WatIsWapple" style="height: 115vh;background: #323232;width: 100%;">
        <div class="dh-highlight-text" style="width: 100%;background: #323232;">
            <div class="container">
                <h1 class="clearmargin clearpadding" style="color: rgb(255,255,255);font-size: 60px;">Wat is Wapple</h1>
                <p style="color: rgb(255,255,255);">Wapple is een online platform met de quizsysteem voor studenten.<br>Beheerders kunnen dit platform gebruiken om een quiz te maken<br>en om de quiz te spelen kunnen ze studenten uitnodigen.<br>Studenten kunnen elkaar uitdagen en zien wie de quiz<br>beter heeft gemaakt.&nbsp;<br><br><br><br><br></p>
                <h1 class="clearmargin clearpadding" style="color: rgb(255,255,255);font-size: 60px;">Waarom Wapple</h1>
                <p style="color: rgb(255,255,255);">Er is momenteel geen online platform die het aanbiedt voor studenten<br> om elkaar uit te kunnen dagen via een quiz. De online quizzen die er wel zijn hebben ook niet de optie om de quiz resultaten bij te houden.<br> Dit is waarom we Wapple hebben gemaakt, zodat we een online platform hebben die dit wel allemaal kan.&nbsp;<br><br><br></p>
            </div>
        </div>
    </section>
</body>
