﻿@page
@model QuizWebsite.Pages.instellingenModel
@{
    ViewData["Title"] = "Instellingen";
}
<body>
        <div class="jumbotron text-center">
            <h4>Hier kan je de klas aanpassen</h4>
        </div>

        <p>Je zit nu in klas @Model.VeranderKlas.Klas</p>

        <form method="post">
            <table class="table">
                <tr class="lijst">
                    <td scope="col">
                        <select asp-for="VeranderKlas.Klas" >
                            <option value="">Klas veranderen</option>
                            @foreach (var item in Model.Klassen)
                            {
                                <option value="@item.klasid">@item.klasid</option>
                            }
                        </select>
                        <input type="hidden" asp-for="VeranderKlas.PersoonId" />
                    </td>
                    <td scope="col"><input type="submit" name="subBtn" id="subBtn" asp-page-handler="Veranderen" value="Verander klas" /></td>
                </tr>
            </table>
            <p></p>
            <div class="btn">
                <a class="nav-link text-dark" asp-area="" asp-page="/homelogin">Terug naar homepage</a>
            </div>
        </form>
</body>
