﻿@page
@model QuizWebsite.Pages.loginpageModel
@{
    ViewData["Title"] = "Inloggen";
}
<body>
    <div class="loginbox">
        <div class="jumbotron text-center">
            <h1>Inloggen account</h1>
        </div>

        <form method="post">
            @if (Model.Invalidlogin)
            {
                <p class="alert-info">Foutmelding: Ongeldige inlog</p>
            }
            <p></p>
            <p>Gebruikersnaam</p>
            <input type="text" name="gebruikersnaam" placeholder="Gebruikersnaam" required />
            <p></p>
            <p>Wachtwoord</p>
            <input type="password" name="wachtwoord" placeholder="Wachtwoord" required />
            <p></p>
            <input type="submit" name="" asp-page-handler="Checklogin" value="Inloggen" />
            <p></p>
            <a class="nav-link text-dark" asp-area="" asp-page="/signuppage">Heeft u nog geen account? Maak deze hier aan!</a>
        </form>
    </div>
</body>