﻿@page
@model QuizWebsite.Pages.QuizmakenModel
@{
}
<div class="jumbotron text-lg-center">
    <h1>Quiz Aanmaken</h1>
    <p>Hier kan u een nieuwe quiz maken.</p>
</div>
<form method="post">
    <table class="table-borderless">
        <tr>

            <th scope="col">Quiznaam</th>
        </tr>
        <tr>
            <td><input type="text" name="naam"/></td>
        </tr>
        @*<tr>
            <th scope="col">Categorie</th>
        </tr>
        <tr>
            <td>
                <select name="categorie">
                    <option>School</option>
                    <option>Landen</option>
                    <option>Economie</option>
                    <option>Engels</option>
                </select>
                <label for="categorie">Kies een Categorie</label>
            </td>
        </tr>*@

        <tr>
            <td><button class="btn-secondary" asp-page-handler="QuizAanmaken">Quiz Aanmaken</button></td>
        </tr>
    </table>
</form>
