﻿@page
@model QuizWebsite.Pages.QuizUpdatenModel
@{
}
<div class="jumbotron text-lg-center">
    <h1>Update Uw Quiz Hier!</h1>
    <p>Welke Quiz Wilt U Update?</p>
</div>
<div>
    <form method="post">
        <table class="table">
            <tr>
                <td>
                    <input type="text" name="quizID" />
                </td>
                <td><input type="submit" name="subBtn" id="subBtn" asp-page-handler="KiesQuiz" /></td>
            </tr>
        </table>
        <table class="table">
            <tr>
                @foreach (var item in Model.quizes)
                {
                    <td>@item.naam : @item.quizID</td>
                }
            </tr>

        </table>
    </form>
</div>