﻿@page
@model QuizWebsite.Pages.QuizJoinenModel
@{
}

<div class="jumbotron text-lg-center">
    <h1>Hier Kunt U Quiz De Maken</h1>
</div>
<div>
    <form method="post">
        <table class="table">
            <tr>
                <td>
                    <input type="text" name="quizID" />
                </td>
                <td><input type="submit" name="subBtn" id="subBtn" asp-page-handler="JoinQuiz"/></td>
            </tr>
        </table>
    </form>
</div>