﻿@page
@model QuizWebsite.Pages.ResultatenModel
@{
}
<div class="jumbotron text-center">
    <h3>Hier Zijn Jouw Resultaten!</h3>
</div>
<div>
<table class="table">
    @foreach (var item in Model.Quizresultaten)
    {
    <tr>
        <td>@item.naam</td>
        <td>@item.cijfer</td>
    </tr>
    }
</table>
</div>
