﻿@page
@model QuizWebsite.Pages.signuppageModel
@{
    ViewData["Title"] = "Signup";
}
<body>
    <div class="loginbox">
        <div class="jumbotron text-center">
            <h1>Account aanmaken</h1>
        </div>

        <form method="post">
            @if (Model.Invalidlogin)
            {
                <p class="alert-info">Foutmelding: Deze gebruikersnaam is al in gebruik</p>
            }
            <p>Voornaam</p>
            <input type="text" name="voornaam" placeholder="Voornaam" required />
            <p>Achternaam</p>
            <input type="text" name="achternaam" placeholder="Achternaam" required />
            <p>Gebruikersnaam</p>
            <input type="text" name="gebruikersnaam" placeholder="Gebruikersnaam" required />
            <p>E-mail</p>
            <input type="email" name="email" placeholder="E-mail" required />
            <p>Wachtwoord</p>
            <input type="password" name="wachtwoord" placeholder="Wachtwoord" required />
            <p>Klas</p>
            <input type="number" name="klas" placeholder="Selecteer klas nummer" />
            <p></p>
            <input type="submit" asp-page-handler="Submit" value="Inloggen" />
            <p></p>
            <a class="nav-link text-dark" asp-area="" asp-page="/loginpage">Heeft u al een account? Klik dan hier</a>
            <br>
        </form>
    </div>
</body>