﻿@page
@model QuizWebsite.Pages.SuggestiesModel
@{
}
<div class="jumbotron text-lg-center">
    <h1>Geeft Hier Uw Suggestie!</h1>
    <p>Hier kan u uw suggesties naar ons sturen!</p>
</div>
<div>
    <form method="post">
        <table>
            <caption>Hier Uw Suggestie</caption>
            <tr>
                <td><textarea asp-for="sendmail.Body" cols="25" rows="5" placeholder="Hier uw bericht..."></textarea></td>
            </tr>
            <tr>
                <td><input type="submit" class="btn-success" value="Vestuur Email" /></td>
                <td>@ViewData["Message"]</td>
            </tr>
        </table>

    </form>
</div>