﻿@page
@model QuizWebsite.Pages.UitnodigenModel
@{
}
<div class="jumbotron text-lg-center">
    <h1>Nodig Hier Uw Klas Uit!</h1>
    <p>Hier kan u uw leerling uitnodigen</p>
</div>
<div>
    <form method="post">
        <select name="klas">
            <option value="" selected="selected" required>Kies een klas</option>
            @foreach (var item in Model.klasid)
            {
    <option value="@item.klasid">@item.klasid</option>}
        </select>
        <select name="quiz">
            <option value="" selected="selected" required>Kies een quiz</option>
            @foreach (var item in Model.quizid)
            {
    <option value="@item.quizID @item.naam">@item.naam</option>}
        </select>
        <table>
            <caption>Het Bericht</caption>
            <tr>
                <td><textarea asp-for="sendmail.Body" cols="25" rows="5" placeholder="Hier uw bericht..."></textarea></td>
            </tr>
            <tr>
                <td><input type="submit" class="btn-success" value="Vestuur Email" /></td>
                <td>@ViewData["Message"]</td>
            </tr>
        </table>

    </form>
</div>