﻿@page
@model QuizWebsite.Pages.VraagBeantwoordenModel
@{
//"{quizID}"
}

<div class="jumbotron text-lg-center">
    <h1>Vragen Toevoegen aan (@Model.quizID)</h1>
    <p>Hier kunt u vragen toevoegen aan uw quiz!</p>
</div>
<div class="container-fluid">
    <div class="col-md-12">
        <form method="post">
            @{
                int i = 0;
                int huidigevraag = -1;
                if (Model.vragenmetantwoord != null)
                {
                    while (i < Model.vragenmetantwoord.Count)
                    {

                        // dit gebeurt maar 1x: alleen bij de eerste keer; we weten dan dat we records hebben en kunnen veilig het vraagID opvragen en bewaren
                        if (huidigevraag == -1) { huidigevraag = Model.vragenmetantwoord[i].vraagID; }

                        // we zijn bij een nieuwe vraag (per definitie van de lus)

                        <table class="table">
                            <caption style="caption-side: top !important; color: black !important; font-size: 20px !important; font-weight: bold !important;">@Model.vragenmetantwoord[i].vraag</caption>
                            <thead>
                                <tr>
                                    <th colspan="2">Antwoord</th>
                                    <th colspan="2">Kruis Aan</th>
                                    <td><input type="hidden" name="vraagID" value="@huidigevraag" /></td>
                                </tr>
                            </thead>
                            <tbody>

                                @* deze WHILE lus laat alleen antwoorden zien bij de huidige vraag*@
                                @while (i < Model.vragenmetantwoord.Count && Model.vragenmetantwoord[i].vraagID == huidigevraag)
                                {

                                    // sla het huidige record even op ; handig voor als we meer informatie uit het record nodig hebben in de HTML
                                    QRYQuizVragen record = Model.vragenmetantwoord[i];
                                    @if (record.antwoord != null)
                                    {
                                        // laat de info uit het record zien
                                        <tr>
                                            <td colspan="2">@record.antwoord</td>
                                            <td colspan="2"><input type="checkbox" name="antwoordID" value="@record.antwoordID" /></td>
                                        </tr>

                                    }

                                    // ga naar het volgende record; mogelijk komen we bij een nieuwe vraag aan
                                    i++;

                                }
                            </tbody>
                        </table>

                        // we zijn bij een nieuwe vraag, mits we niet voorbij het einde van de lijst zijn. dus even checken of i>lengte lijst.
                        if (i < Model.vragenmetantwoord.Count)
                        {
                            huidigevraag = Model.vragenmetantwoord[i].vraagID;

                        }

                    }
                    <tr>
                        <td>
                            <button asp-route-quizID="@Model.quizID" asp-route-accountID="@Model.accountID" asp-page-handler="QuizInleveren">Quiz Inleveren</button>
                        </td>

                    </tr>
                }
            }
        </form>
    </div>
</div>