﻿@page
@model QuizWebsite.Pages.VraagaanmakenModel
@{
}

<style>
</style>

<div class="jumbotron text-lg-center">
    <h1>Vragen Toevoegen aan (Quiznaam)</h1>
    <p>Hier kunt u vragen toevoegen aan uw quiz!</p>
</div>
<div class="container-fluid">
    <div class="col-md-12">
        @{
            int i = 0;
            int huidigevraag = -1;
            if (Model.vragenmetantwoord != null)
            {
                while (i < Model.vragenmetantwoord.Count)
                {

                    // dit gebeurt maar 1x: alleen bij de eerste keer; we weten dan dat we records hebben en kunnen veilig het vraagID opvragen en bewaren
                    if (huidigevraag == -1) { huidigevraag = Model.vragenmetantwoord[i].vraagID; }

                    // we zijn bij een nieuwe vraag (per definitie van de lus)
                <form method="post">
                    <table class="table">
                        <caption>@Model.vragenmetantwoord[i].vraag</caption>
                        <thead>
                            <tr>
                                <th>Nr</th>
                                <th>Antwoord</th>
                                <th>Kruis Aan</th>
                                <th><button asp-route-vraagID="@huidigevraag" asp-route-quizIDInt="@Model.quizIDInt" asp-page-handler="VraagVerwijderen">Vraag Verwijderen</button></th>
                            </tr>
                            <tr>
                                <th><input type="text" name="antwoord"></th>
                                <th><input type="hidden" asp-for="@huidigevraag"><button asp-route-quizIDInt="@Model.quizIDInt" asp-page-handler="AntwoordToevoegen">+</button></th>
                            </tr>


                        </thead>
                                <tbody>

                                    @* deze WHILE lus laat alleen antwoorden zien bij de huidige vraag*@
                                    @while (i < Model.vragenmetantwoord.Count && Model.vragenmetantwoord[i].vraagID == huidigevraag)
                                    {
                                        // sla het huidige record even op ; handig voor als we meer informatie uit het record nodig hebben in de HTML
                                        QRYQuizVragen record = Model.vragenmetantwoord[i];
                                        @if (record.antwoord != null)
                                        {
                                            // laat de info uit het record zien
                                    <tr>
                                        <td>@record.vraagID</td>
                                        <td>@record.antwoord</td>
                                        <td>@record.antwoordID</td>
                                        @if (record.goed)
                                        {
                                            <td><input type="checkbox" name="ischecked" value="@record.antwoordID" checked/></td>
                                        }
                                        else
                                        {
                                            <td><input type="checkbox" name="ischecked" value="@record.antwoordID"/></td>
                                        }
                                        <td><button asp-route-antwoordID="@record.antwoordID" asp-route-quizIDInt="@Model.quizIDInt" asp-page-handler="UpdateAntwoord">Update</button></td>
                                        <td><button asp-route-antwoordID="@record.antwoordID" asp-route-quizIDInt="@Model.quizIDInt" asp-page-handler="AntwoordVerwijderen">Verwijder</button></td>
                                    </tr>
                                        }
                                        // ga naar het volgende record; mogelijk komen we bij een nieuwe vraag aan
                                        i++;

                                    }
                                </tbody>
                            </table>
                </form>
                        // we zijn bij een nieuwe vraag, mits we niet voorbij het einde van de lijst zijn. dus even checken of i>lengte lijst.
                        if (i < Model.vragenmetantwoord.Count)
                        {
                            huidigevraag = Model.vragenmetantwoord[i].vraagID;

                        }

                    }
                }
            }
    </div>
    </div>
<div class="container-fluid">
    <div class="col-md-12">
        <form method="post">
            <table>
                <thead>
                    <tr>
                        <th>Vraag</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="vraag"></td>
                        <td><input type="hidden" asp-for="quizIDInt"><button asp-page-handler="VraagAanmaken">+</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
    @*</div>
        <form method="post">
            <table class="table-borderless">

                <tr>
                    <th scope="col">Vraag</th>
                </tr>
                <tr>
                    <td><input type="text" name="vraag" /></td>
                </tr>
                <tr>
                    <th scope="col">Antwoorden</th>
                </tr>
                <tr>
                    <td><input type="text" naam="antwoord" /></td>
                </tr>
                <tr>
                    <td><button class="btn-secondary" type="submit" name="quizAanmaken">Vraag toevoegen</button></td>
                </tr>
            </table>
        </form>*@
