﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewData["Title"] - Wapple.nl</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="~/assets/css/styles.min.css">
</head>
<body>
    <header style="background: rgb(67, 170, 139);">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom solid border-dark" style="border-width: 5px;background: rgb(67, 170, 139);">
            <div class="container" >
                <a class="navbar-brand" asp-page="/Index" style="font-size: 30px;color: rgb(249,65,68)">Wapple</a>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/index" style="font-family: Poppins, sans-serif;font-size: 20px;">Home</a>
                        </li>
                        @if (ViewData.ContainsKey("beheerder"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Uitnodigen" style="font-family: Poppins, sans-serif;font-size: 20px;">Uitnodigen</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Quizmaken" style="font-family: Poppins, sans-serif;font-size: 20px;">Quizmaken</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/QuizUpdaten" style="font-family: Poppins, sans-serif;font-size: 20px;">Quiz Updaten</a>
                            </li>
                        }
                        @if (ViewData.ContainsKey("gebruiker"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/QuizJoinen" style="font-family: Poppins, sans-serif;font-size: 20px;">Quiz Joinen</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Resultaten" style="font-family: Poppins, sans-serif;font-size: 20px;">Resultaten</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/instellingen" style="font-family: Poppins, sans-serif;font-size: 20px;">Instellingen</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Suggesties" style="font-family: Poppins, sans-serif;font-size: 20px;">Suggesties</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="dropdown flex-grow-0">
                    @if (ViewData.ContainsKey("ingelogd"))
                    {
                        <div class="btn">
                            <a class="btn btn-light action-button" asp-area="" asp-page="/loginpage" style="font-family: Poppins, sans-serif;font-size: 20px;">Uitloggen</a>
                        </div>
                    }
                    else
                    {
                        <button class="btn dropdown-toggle action-button" role="button" href="#" style="background: rgb(249,65,68);font-size: 20px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Inloggen en Aanmelden
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="nav-link text-dark" asp-area="" asp-page="/loginpage" style="font-family: Poppins, sans-serif;font-size: 20px;">Inloggen</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/signuppage" style="font-family: Poppins, sans-serif;font-size: 20px;">Account Aanmaken</a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
